/* BottomFooter
-------------------------------- */

.footer_container {
  position: fixed;
  bottom: 0;
  right: 20%;
  padding-top: 24px;
  margin: 24px auto;
  max-width: 1128px;
}
/* -------------------------------- */
