footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    clear: both;
    padding-top: 24px;
    margin: 24px auto;
    max-width: 1128px;
  }

  .grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: black;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.grid--no-gutters>.grid__col {
    padding-left: 0;
    padding-right: 0;
}

.global-footer__link-container {
    margin-bottom: 1.2rem;
}

.grid__col--12 {
    width: 50%;
}

.grid__col {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}