/* Interests
-------------------------------- */
.bottom_p{
    color: rgb(24, 24, 24);
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}

.interests_container{
    display: flex;
    align-items: center;
}

.p_container{
    border: grey;
    border-top-style: solid;
    display: flex;
}

.members{
    font-size: 12px;
}

.companies{
    font-size: 16px;
}
/*------------------------------- */


