img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border-color: white;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  margin-top: 20%;
  margin-left: 5rem;
}

.firstSection {
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("https://picsum.photos/200/300");
}
.secondSection {
  padding-top: 40px;
}

.hero_btn {
    border: 1px solid gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .round_btn {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }
