

.IMAGE {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border-color: white;
  border-width: 6px;
  border-style: solid;
  /* position: ; */
  margin-top: -112px;
  z-index: 4;
  margin-left: 0%;
} 

.firstSection {
  
  margin-top: 100px;
  height: 300px;
  overflow: hidden;
  background-size: cover;
  
  
  background-image: url("https://picsum.photos/200/300");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 0px ;
  border-bottom: none;
  
}
.secondSection {
  padding-top: 40px;
  margin-left: 2rem;
}
.jumboL {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  box-shadow: 0.1px 0.1px 2px grey !important;
  border-radius: 25px;
  background-color: white;
}

.buttonGroup button{
  margin-left: 0.5rem ;
  
}

.msgButton{
  background-color: white;
  border-radius: 50px;
  border: 1px solid grey !important;
  color: rgb(24, 24, 24);
  font-weight: 600;
  margin-left: 50px;
  margin-top: 0px;
  
  font-size: small;
}

.connectButton{
  background-color: #0e76a8;
  color: white;
  border-radius: 50px;
  border: 1px solid #167ead !important;
 
  font-weight: 600;
  margin-left: 50px;
  margin-top: 0px;
  
  font-size: small;
}
