/* TopNavbar
-------------------------------- */
.top_icons_container{
    text-align: center;
}


.top_icons {
    width: 25px;
    height: 25px;
  }
 
  
  .top_link_container {
      padding: 0;
  }

  .border-md-left {
    border-left: 1px solid silver;
  }
  /* -------------------------------- */