.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #f3f2ef;
}

.msgButton{
  background-color: white;
  border-radius: 50px;
  border: 1px solid grey !important;
  color: rgb(24, 24, 24);
  font-weight: 600;
  margin-left: 50px;
  margin-top: 0px;
  
  font-size: small;
}

.connectButton{
  background-color: #0e76a8;
  color: white;
  border-radius: 50px;
  border: 1px solid #167ead !important;
 
  font-weight: 600;
  margin-left: 50px;
  margin-top: 0px;
  
  font-size: small;
}


.marginB{
  margin-bottom: 1rem !important;
}