.PostFeedComponent{
    margin-top: 150px;
    justify-content: center;
    width: 100%;
}


.mainBox{
    margin-top: 100px;
   
    padding: 24px 16px 12px;
    color: grey;
    border-width: 0px;
    border-style: solid;
    border-color: grey;
    border-radius: 15px;
    box-shadow: 0px 0px 2px grey;
    background-color: white;
    
}

.img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.postButton{

    border-radius: 35px !important;
    color: black;
    background-color: white;
    border: 1px solid grey;
    width: 100%;


}
.postButton:hover{
    background-color: rgb(221, 221, 221);
    color: black;
    border: 1px solid grey;
    width: 100%;
}
.postButton:focus{
    border-radius: 35px !important;
    color: black;
    background-color: lightgrey;
    border: 1px solid grey;
    width: 100%;
    box-shadow: none;
}

.form{
    border: none;
    width: 100%;
    max-width: 1000px;
}

.pButton{
    background-color: #0e76a8;
    color: white;
    border-radius: 50px;
    border: 1px solid #167ead !important;
   
    font-weight: 600;
    margin-left: 50px;
    margin-top: 0px;
    display: flex;
    margin-left: auto !important;
    font-size: small;
  }


  .pButton:hover{
    background-color: #0e76a8;
    color: white;
    border-radius: 50px;
    border: 1px solid #167ead !important;
    
    font-weight: 600;
    margin-left: 50px;
    margin-top: 0px;
   
    font-size: small;
  }

  @media screen and (min-width: 0px) and (max-width: 5000px)  {
    .modal1{
        border: none;
        width: 100%;
        max-width: 1000px;
    }
    
  }